<div class="container mx-auto mt-10">
    <!-- Header -->
    <div class="bg-gradient-to-r from-red-500 to-red-700 text-white py-6 px-4 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold">Clientes</h2>
        <p class="text-sm mt-1">Lista completa de Partidos.</p>
    </div>

    <!-- Table -->
    <div class="mt-6 bg-white shadow-md rounded-lg overflow-hidden">
        <div class="overflow-x-auto max-h-96 overflow-y-auto">
            <table class="min-w-full table-auto text-left text-gray-700">
                <thead class="bg-gray-100 border-b">
                    <tr>
                        <th class="px-4 py-2 font-semibold text-sm uppercase tracking-wide">ID</th>
                        <th class="px-4 py-2 font-semibold text-sm uppercase tracking-wide">Vs</th>
                        <th class="px-4 py-2 font-semibold text-sm uppercase tracking-wide">Estado</th>
                        <th class="px-4 py-2 font-semibold text-sm uppercase tracking-wide">Fecha de inicio</th>
                        <th class="px-4 py-2 font-semibold text-sm uppercase tracking-wide">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let actual of equipo" class="border-b hover:bg-gray-50 transition">
                        <td class="px-4 py-3 text-sm">{{actual.id}}</td>
                        <td class="px-4 py-3 text-sm">{{actual.nombre_1}} vs {{actual.nombre_2}}</td>
                        <td class="px-4 py-3 text-sm">{{actual.estado}}</td>
                        <td class="px-4 py-3 text-sm">{{actual.fecha}}</td>
                        <td class="px-4 py-3 text-sm">
                            <!-- Botón para redirigir si el estado es "Pendiente" -->
                            <button
                                *ngIf="actual.estado === 'Pendiente'"
                                (click)="redirectToApuestas(actual.id)"
                                class="bg-blue-500 text-white py-1 px-3 rounded hover:bg-blue-600"
                            >
                                Apostar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
